@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1>Welcome to the Vehicle Management System</h1>
    <p class="lead">Manage vehicles, rentals, and clients efficiently.</p>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vehicles</h5>
                    <p class="card-text">View, add, and manage your vehicles.</p>
                    <a href="/Vehicles" class="btn btn-primary">Go to Vehicles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Renting</h5>
                    <p class="card-text">Manage vehicle rentals and track statuses.</p>
                    <a href="/Renting" class="btn btn-success">Go to Renting</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <p class="card-text">View and manage client information.</p>
                    <a href="/Clients" class="btn btn-info">Go to Clients</a>
                </div>
            </div>
        </div>
    </div>
</div>